@{
    var listVatLieu = ViewData["listVatLieu"];
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Tính toán</title>
    <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico" />
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/custom.js"></script>
    <script src="~/Scripts/jquery-ui.min.js"></script>
    @*<script src="~/Content/"></script>*@
    <link href="~/Content/jquery-ui.css" rel="stylesheet" />
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="~/Css/styles.css" rel="stylesheet" />
    <link href="~/Css/customStyle.css" rel="stylesheet" />
    <link href="~/Css/htc.css" rel="stylesheet" />
    <style>
        body {
            padding-top: 50px;
            padding-bottom: 20px;
        }

        /* Set padding to keep content from hitting the edges */
        .body-content {
            padding-left: 15px;
            padding-right: 15px;
        }

        /* Override the default bootstrap behavior where horizontal description lists
           will truncate terms that are too long to fit in the left column
        */
        .dl-horizontal dt {
            white-space: normal;
        }

        /* Set width on the form input elements since they're 100% wide by default */
        input,
        select,
        textarea {
            max-width: 280px;
            /*height: 31px;*/
        }

        .body-bg {
            /*background-image: url('/files/anh1.jpg');*/
            width: 650px;
            height: 1153px;
            background-repeat: no-repeat;
            background-position: 0% 0%;
            background-size: 100% 100%;
            position: relative;
            margin-left: auto;
            margin-right: auto;
        }

        .body-bg, input, select {
            font-weight: bold;
        }

            .body-bg span {
                color: blue;
            }

            .body-bg select, .body-bg input[type=text], .body-bg input[type=number] {
                color: red;
            }


        #CK {
            position: absolute;
            top: 79px;
            left: 165px;
            text-align: center;
            height: 22px;
            width: 134px;
            border: 0px;
            background: transparent;
        }

        #macBeTong {
            position: absolute;
            width: 134px;
            top: 122px;
            left: 165px;
            height: 24px;
        }

        .RB {
            position: absolute;
            width: 80px;
            top: 147px;
            left: 200px;
            height: 16px;
        }

        .RBT {
            position: absolute;
            width: 80px;
            top: 173px;
            left: 200px;
            height: 16px;
        }

        .EBT {
            position: absolute;
            width: 80px;
            top: 195px;
            left: 200px;
            height: 16px;
        }

        #macThepDoc {
            position: absolute;
            width: 134px;
            top: 218px;
            left: 165px;
            height: 24px;
        }

        .RS {
            position: absolute;
            width: 80px;
            top: 243px;
            left: 196px;
            height: 16px;
        }

        .RSC {
            position: absolute;
            width: 80px;
            top: 266px;
            left: 196px;
            height: 16px;
        }

        #b {
            position: absolute;
            width: 70px;
            top: 307px;
            left: 196px;
            height: 22px;
            border: 0px;
            background: transparent;
        }

        #h {
            position: absolute;
            width: 70px;
            top: 330px;
            left: 196px;
            height: 22px;
            border: 0px;
            background: transparent;
        }

        #a {
            position: absolute;
            width: 70px;
            top: 353px;
            left: 196px;
            height: 22px;
            border: 0px;
            background: transparent;
        }

        #hesomuy {
            position: absolute;
            width: 59px;
            top: 330px;
            left: 454px;
            height: 22px;
            border: 0px;
            background: transparent;
        }

        #e0 {
            position: absolute;
            width: 59px;
            top: 330px;
            left: 575px;
            height: 22px;
            border: 0px;
            background: transparent;
        }

        .L {
            position: absolute;
            width: 59px;
            top: 354px;
            left: 454px;
            height: 16px;
            border: 0px;
            background: transparent;
        }

        #tang {
            position: absolute;
            top: 476px;
            left: 19px;
            width: 120px;
            text-align: center;
            height: 26px;
            border: 0px;
            background: transparent;
        }

        #phantu {
            position: absolute;
            top: 476px;
            left: 138px;
            width: 59px;
            text-align: center;
            height: 26px;
            border: 0px;
            background: transparent;
        }

        #chieudai {
            position: absolute;
            top: 476px;
            left: 198px;
            width: 69px;
            text-align: center;
            height: 26px;
            border: 0px;
            background: transparent;
        }

        #vitri {
            position: absolute;
            top: 476px;
            left: 267px;
            width: 60px;
            text-align: center;
            height: 26px;
            border: 0px;
            background: transparent;
        }

        #tohop {
            position: absolute;
            top: 476px;
            left: 328px;
            width: 126px;
            text-align: center;
            height: 26px;
            border: 0px;
            background: transparent;
        }

        #m2 {
            position: absolute;
            top: 476px;
            left: 454px;
            width: 59px;
            text-align: center;
            height: 26px;
            border: 0px;
            background: transparent;
        }

        #m3 {
            position: absolute;
            top: 476px;
            left: 513px;
            width: 64px;
            text-align: center;
            height: 26px;
            border: 0px;
            background: transparent;
        }

        #n {
            position: absolute;
            top: 476px;
            left: 579px;
            width: 57px;
            text-align: center;
            height: 26px;
            border: 0px;
            background: transparent;
        }


        .LH {
            position: absolute;
            top: 574px;
            left: 138px;
            width: 50px;
            height: 21px;
        }

        .SSMUYH {
            position: absolute;
            top: 574px;
            left: 198px;
            width: 69px;
            height: 21px;
        }

        .MUYH {
            position: absolute;
            top: 574px;
            left: 388px;
            width: 65px;
            height: 21px;
        }

        .LB {
            position: absolute;
            top: 619px;
            left: 138px;
            width: 50px;
            height: 21px;
        }

        .SSMUYB {
            position: absolute;
            top: 619px;
            left: 198px;
            width: 69px;
            height: 21px;
        }

        .MUYB {
            position: absolute;
            top: 619px;
            left: 388px;
            width: 65px;
            height: 21px;
        }

        .MH {
            position: absolute;
            top: 666px;
            left: 388px;
            width: 65px;
            height: 21px;
        }

        .MB {
            position: absolute;
            top: 690px;
            left: 388px;
            width: 65px;
            height: 21px;
        }


        .MHH {
            position: absolute;
            top: 734px;
            left: 138px;
            width: 50px;
            height: 21px;
        }

        .SSM {
            position: absolute;
            top: 734px;
            left: 221px;
            width: 50px;
            height: 21px;
        }

        .MBB {
            position: absolute;
            top: 734px;
            left: 328px;
            width: 60px;
            height: 21px;
        }

        .NXCANH {
            position: absolute;
            top: 758px;
            left: 328px;
            width: 200px;
            height: 21px;
        }

        .M {
            position: absolute;
            top: 781px;
            left: 328px;
            width: 60px;
            height: 21px;
        }

        .E1 {
            position: absolute;
            top: 805px;
            left: 328px;
            width: 60px;
            height: 21px;
        }

        .EA {
            position: absolute;
            top: 830px;
            left: 328px;
            width: 60px;
            height: 21px;
        }

        .EE {
            position: absolute;
            top: 852px;
            left: 328px;
            width: 60px;
            height: 21px;
        }

        .E {
            position: absolute;
            top: 875px;
            left: 328px;
            width: 60px;
            height: 21px;
        }

        .EPXILON {
            position: absolute;
            top: 899px;
            left: 138px;
            width: 50px;
            height: 21px;
        }

        .SSEPXILON {
            position: absolute;
            top: 899px;
            left: 221px;
            width: 50px;
            height: 21px;
        }

        .NXNEN {
            position: absolute;
            top: 955px;
            left: 100px;
            width: 400px;
            height: 21px;
        }

        .X1 {
            position: absolute;
            top: 920px;
            left: 138px;
            width: 50px;
            height: 21px;
        }

        .SSX1 {
            position: absolute;
            top: 920px;
            left: 221px;
            width: 50px;
            height: 21px;
        }

        .XR {
            position: absolute;
            top: 920px;
            left: 328px;
            width: 60px;
            height: 21px;
        }

        .AS {
            position: absolute;
            top: 974px;
            left: 328px;
            width: 60px;
            height: 15px;
        }

        #sl1 {
            position: absolute;
            top: 1000px;
            left: 280px;
            width: 30px;
            height: 21px;
            border: 0px;
            background: transparent;
        }

        #dk1 {
            position: absolute;
            top: 1000px;
            left: 328px;
            width: 40px;
            height: 21px;
            border: 0px;
            background: transparent;
        }

        #sl2 {
            position: absolute;
            top: 1000px;
            left: 400px;
            width: 30px;
            height: 21px;
            border: 0px;
            background: transparent;
        }

        #dk2 {
            position: absolute;
            top: 1000px;
            left: 460px;
            width: 40px;
            height: 21px;
            border: 0px;
            background: transparent;
        }

        .ABT {
            position: absolute;
            top: 1030px;
            left: 328px;
            width: 60px;
            height: 21px;
        }

        .SSABT {
            position: absolute;
            top: 1030px;
            left: 388px;
            width: 65px;
            height: 21px;
            text-align: center;
        }

        .AS1 {
            position: absolute;
            top: 1030px;
            left: 513px;
            width: 65px;
            height: 21px;
        }

        .MUYBT {
            position: absolute;
            top: 1056px;
            left: 328px;
            width: 60px;
            height: 21px;
        }

        .SSMUYBT {
            position: absolute;
            top: 1056px;
            left: 388px;
            width: 65px;
            height: 21px;
            text-align: center;
        }

        .NXBT {
            position: absolute;
            top: 1082px;
            left: 110px;
            width: 300px;
            height: 21px;
        }



        #btnTinhToan {
            position: absolute;
            top: 512px;
            left: 403px;
        }

        #btnReset {
            position: absolute;
            top: 572px;
            left: 542px;
        }

        #btnNhanXet {
            position: absolute;
            top: 512px;
            left: 512px;
        }

        #btnPrint {
            position: absolute;
            top: 512px;
            left: 324px;
            width: 70px;
        }
    </style>
</head>

<body id="page-top">
    <!-- Masthead-->
    <header class="">
    </header>
    <!-- Services-->
    <section class="page-section" id="services" style="background-color:#3f404a;">
        <div class="container" style="width: 100%;">
            <div class="row text-uppercase" style="color: white; padding: 1rem !important;">
                <div class="col-md-2 text-xl-left" style="font-size: 20px; padding-top: 100px;">
                    <ul id="UlMenu" style="text-align: left;">
                        <li id="btnThietLap" name="btnThietLap">Thiết lập</li>
                        <li id="btnThongSo" name="btnThongSo">Thông số</li>
                        <li id="btnNoiLuc" name="btnNoiLuc">Nội lực</li>
                    </ul>
                </div>
                <div class="col-md-8">
                    <div class="body-bg">
                        <img src="~/Content/img/cot-bg-002.jpg">
                        <input type="text" id="CK" value="C1">
                        <input type="text" id="tang" value="TẦNG 2">
                        <input type="text" id="phantu" value="C12">
                        <input type="text" id="chieudai" value="5">
                        <input type="text" id="hesomuy" value="0.7">
                        <input type="text" id="e0" value="0.3">
                        <input type="text" id="vitri" value="0">
                        <input type="text" id="tohop" value="TH1">
                        <input type="text" id="m2" value="-3">
                        <input type="text" id="m3" value="2">
                        <input type="text" id="n" value="150">


                        <select id="macBeTong" class="macBeTong" onchange="tinhToan()">
                        </select>
                        <br>


                        <select id="macThepDoc" class="macThepDoc" onchange="tinhToan()">
                        </select>
                        <br>



                        <input id="b" type="number" min="0" step="1" value="300">
                        <br>

                        <input id="h" type="number" min="0" step="1" value="400">
                        <br>

                        <input id="a" type="number" min="0" step="1" value="40">


                        <input id="sl1" type="number" min="0" step="1" value="5">

                        <input id="dk1" type="number" min="0" step="1" value="18">

                        <input id="sl2" type="number" min="0" step="1" value="5">

                        <input id="dk2" type="number" min="0" step="1" value="18">


                        <span class="RB" id="Rb1">0</span>
                        <span class="RBT" id="Rbt">0</span>
                        <span class="EBT" id="Ebt">0</span>
                        <span class="RS" id="RS">0</span>
                        <span class="RSC" id="Rsc">0</span>

                        <span class="L">3.5</span>
                        <span class="LH" id="LH">30.4</span>
                        <span class="LB" id="LB">40.5</span>
                        <span class="SSMUYH" id="SSMUYH"> &gt; 28</span>
                        <span class="SSMUYB" id="SSMUYB"> &gt; 28</span>

                        <span class="MUYH" id="MUYH">1.2</span>
                        <span class="MUYB" id="MUYB">1.4</span>
                        <span class="MH" id="MH">2.4</span>
                        <span class="MB" id="MB">4.2</span>
                        <i><span class="MHH" id="MHH">2.4</span></i>

                        <span class="MBB" id="MBB">4.2</span>
                        <span class="SSM"> ≤ </span>

                        <span class="NXCANH" id="NXCANH">cạnh b</span>
                        <span class="M" id="M">4.9</span>

                        <span class="E1" id="E1">32.7</span>
                        <span class="EA" id="EA">22.7</span>
                        <span class="EE" id="EE">155.8</span>
                        <span class="E" id="E">155.8</span>
                        <span class="EPXILON" id="EPXILON">0.1</span>

                        <span class="SSEPXILON" id="SSEPXILON"> ≤ 0.3 </span>
                        <span class="X1" id="X1">288.5</span>
                        <span class="SSX1" id="SSX1"> &gt; </span>
                        <span class="XR" id="XR">149.9</span>
                        <span class="NXNEN" id="NXNEN">Tính toán nén Đúng tâm</span>

                        <span class="AS" id="AS">19.4</span>
                        <span class="ABT" id="ABT">25.4</span>
                        <span class="SSABT" id="SSABT">≥</span>
                        <span class="AS1" id="AS1">19.4</span>
                        <span class="MUYBT" id="MUYBT">2.35</span>
                        <span class="SSMUYBT" id="SSMUYBT">≤</span>
                        <span class="NXBT" id="NXBT">  Bố trí thép cột hợp lý</span>


                        <input id="btnReset" type="button" value="Reset" class="btn btn-danger notPrint" onclick="reset()">
                        @*<input id="btnTinhToan" type="button" value="Tính thép" class="btn btn-danger notPrint " onclick="tinhThepCot()">*@

                        @*<input id="btnNhanXet" type="button" value="Nhận xét bố trí" class="btn btn-danger notPrint " onclick="shareFB(nhanXetBoTri)">*@
                        @*<input id="btnPrint" type="button" value="  In  " class="btn btn-danger notPrint" onclick="window.print()">*@


                    </div>
                </div>
                <div class="col-md-2 text-lg-right" style="font-size: 20px; padding-top: 100px;">
                    <ul id="UlMenu">
                        <li onclick="tinhThepCot()">Tính thép</li>
                        <li onclick="window.print()">In báo cáo</li>
                        <li onclick="nhanXet()">Nhận xét</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container body-content">




            <link rel="stylesheet" href="/Style/htsCot.css">
            <div class="row">

                <div class="col-md-12">

                </div>


            </div>

        </div>
    </section>

    <!-- Footer-->
    <footer class="footer py-4">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-4 text-lg-left">Copyright © LK Co.., Ldt</div>
                <div class="col-lg-4 my-3 my-lg-0">
                    <a class="btn btn-dark btn-social mx-2" href="#"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
                <div class="col-lg-4 text-lg-right">
                    <a class="mr-3" href="#!">Privacy Policy</a>
                    <a href="#!">Terms of Use</a>
                </div>
            </div>
        </div>
    </footer>
    <!-- Portfolio Modals-->
    <!-- Modal 1-->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" /></div>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <div class="modal-body">
                                <!-- Project Details Go Here-->
                                <h2 class="text-uppercase">Project Name</h2>
                                <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                                <img class="img-fluid d-block mx-auto" src="assets/img/portfolio/01-full.jpg" alt="" />
                                <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                                <ul class="list-inline">
                                    <li>Date: January 2020</li>
                                    <li>Client: Threads</li>
                                    <li>Category: Illustration</li>
                                </ul>
                                <button class="btn btn-primary" data-dismiss="modal" type="button">
                                    <i class="fas fa-times mr-1"></i>
                                    Close Project
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal 2-->
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" /></div>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <div class="modal-body">
                                <!-- Project Details Go Here-->
                                <h2 class="text-uppercase">Project Name</h2>
                                <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                                <img class="img-fluid d-block mx-auto" src="assets/img/portfolio/02-full.jpg" alt="" />
                                <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                                <ul class="list-inline">
                                    <li>Date: January 2020</li>
                                    <li>Client: Explore</li>
                                    <li>Category: Graphic Design</li>
                                </ul>
                                <button class="btn btn-primary" data-dismiss="modal" type="button">
                                    <i class="fas fa-times mr-1"></i>
                                    Close Project
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal 3-->
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" /></div>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <div class="modal-body">
                                <!-- Project Details Go Here-->
                                <h2 class="text-uppercase">Project Name</h2>
                                <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                                <img class="img-fluid d-block mx-auto" src="assets/img/portfolio/03-full.jpg" alt="" />
                                <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                                <ul class="list-inline">
                                    <li>Date: January 2020</li>
                                    <li>Client: Finish</li>
                                    <li>Category: Identity</li>
                                </ul>
                                <button class="btn btn-primary" data-dismiss="modal" type="button">
                                    <i class="fas fa-times mr-1"></i>
                                    Close Project
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal 4-->
    <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" /></div>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <div class="modal-body">
                                <!-- Project Details Go Here-->
                                <h2 class="text-uppercase">Project Name</h2>
                                <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                                <img class="img-fluid d-block mx-auto" src="assets/img/portfolio/04-full.jpg" alt="" />
                                <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                                <ul class="list-inline">
                                    <li>Date: January 2020</li>
                                    <li>Client: Lines</li>
                                    <li>Category: Branding</li>
                                </ul>
                                <button class="btn btn-primary" data-dismiss="modal" type="button">
                                    <i class="fas fa-times mr-1"></i>
                                    Close Project
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal 5-->
    <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" /></div>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <div class="modal-body">
                                <!-- Project Details Go Here-->
                                <h2 class="text-uppercase">Project Name</h2>
                                <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                                <img class="img-fluid d-block mx-auto" src="assets/img/portfolio/05-full.jpg" alt="" />
                                <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                                <ul class="list-inline">
                                    <li>Date: January 2020</li>
                                    <li>Client: Southwest</li>
                                    <li>Category: Website Design</li>
                                </ul>
                                <button class="btn btn-primary" data-dismiss="modal" type="button">
                                    <i class="fas fa-times mr-1"></i>
                                    Close Project
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal 6-->
    <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" /></div>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <div class="modal-body">
                                <!-- Project Details Go Here-->
                                <h2 class="text-uppercase">Project Name</h2>
                                <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                                <img class="img-fluid d-block mx-auto" src="assets/img/portfolio/06-full.jpg" alt="" />
                                <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                                <ul class="list-inline">
                                    <li>Date: January 2020</li>
                                    <li>Client: Window</li>
                                    <li>Category: Photography</li>
                                </ul>
                                <button class="btn btn-primary" data-dismiss="modal" type="button">
                                    <i class="fas fa-times mr-1"></i>
                                    Close Project
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap core JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Third party plugin JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <!-- Contact form JS-->
    <script src="assets/mail/jqBootstrapValidation.js"></script>
    <script src="assets/mail/contact_me.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
    <script>

        function reset() {
            $("#LH").html("0");
            $("#SSMUYH").html("");
            $("#SSMUYB").html("");
            $("#MUYH").html("0");
            $("#MUYB").html("0");
            $("#MH").html("0");
            $("#MB").html("0");
            $("#MBB").html("0");
            $("#SSM").html("");
            $("#NXCANH").html("");
            $("#M").html("0");
            $("#E1").html("0");
            $("#EA").html("0");
            $("#E").html("0");
            $("#EE").html("0");
            $("#EPXILON").html("0");
            $("#SSEPXILON").html("");
            $("#X1").html("0");
            $("#SSX1").html("");
            $("#XR").html("0");
            $("#NXNEN").html("");
            $("#AS").html("0");
            $("#ABT").html("0");
            $("#SSABT").html("");
            $("#AS1").html("0");
            $("#MUYBT").html("0");
            $("#SSMUYBT").html("");
            $("#NXBT").html("");
            $("#MHH").html("0");
            $("#LB").html("0");
        }

        function nhanXet() {
            $("#NXNEN").show();
            $("#NXBT").show();
            $("#NXCANH").show();
        }

        function getListVatLieu() {
            $.ajax({
                type: "POST",
                async: false,
                url: '/TinhToan/GetListBeTong',
                success: function (response) {
                    var rs = JSON.parse(response);
                    console.log("data", rs);
                    if (rs != []) {
                        var html_str = "";
                        for (var i = 0; i < rs.length; i++) {
                            var obj = rs[i];

                            html_str += "<option ";
                            //if (id != "") {
                            //	if (id == obj.ValueMember) {
                            //		html_str += "selected ";
                            //	}
                            //}
                            html_str += "value = '" + obj.ID + "' > " + obj.Name + "</option > ";
                        }
                        $("#macBeTong").html(html_str);
                        $("#Rb1").html(rs[0].CuongDoNen);
                        $("#Rbt").html(rs[0].CuongDoKeo);
                        $("#Ebt").html(rs[0].ModuleDanHoi);
                    }
                },
                error: function (rs) {
                    console.log(rs);
                    //toastr["error"]("Có lỗi xảy ra trong quá trình lấy danh sách vật liệu. Vui lòng thử lại sau");
                }
            });

            $.ajax({
                type: "POST",
                async: false,
                url: '/TinhToan/GetListThepDoc',
                success: function (response) {
                    var rs = JSON.parse(response);
                    console.log("data", rs);
                    if (rs != []) {
                        var html_str = "";
                        for (var i = 0; i < rs.length; i++) {
                            var obj = rs[i];

                            html_str += "<option ";
                            html_str += "value = '" + obj.ID + "' > " + obj.Name + "</option > ";
                        }
                        $("#macThepDoc").html(html_str);
                        $("#Rs").html(rs[0].CuongDoNen);
                        $("#Rsc").html(rs[0].CuongDoKeo);
                    }
                },
                error: function (rs) {
                    console.log(rs);
                    //toastr["error"]("Có lỗi xảy ra trong quá trình lấy danh sách vật liệu. Vui lòng thử lại sau");
                }
            });
        }

        function getDetail(id, type) {
            $.ajax({
                type: "POST",
                async: false,
                url: '/TinhToan/GetDetailVatLieu',
                data: { id: id },
                success: function (response) {
                    var rs = JSON.parse(response);
                    console.log("data", rs);
                    if (rs != []) {
                        var obj = rs[0];
                        var html_str = "";
                        switch (type) {
                            case "BT":
                                $("#Rb1").html(obj.CuongDoNen);
                                $("#Rbt").html(obj.CuongDoKeo);
                                $("#Ebt").html(obj.ModuleDanHoi);
                                break;
                            case "TD":
                                $("#Rs").html(obj.CuongDoNen);
                                $("#Rsc").html(obj.CuongDoKeo);
                                break;
                            default:
                        }
                    }
                },
                error: function (rs) {
                    console.log(rs);
                    //toastr["error"]("Có lỗi xảy ra trong quá trình lấy danh sách vật liệu. Vui lòng thử lại sau");
                }
            });
        }

        function tinhThepCot() {
            //alert("Tính dầm chữ nhật");
            var l = $("#chieudai").val();
            $.ajax({
                type: "POST",
                url: '/TinhToan/TinhThepCot',
                data: { 'l': $("#chieudai").val(), 'b': $("#b").val(), 'wuy': $("#hesomuy").val(), 'my': $("#m2").val(), 'mx': $("#m3").val(), 'h': $("#h").val(), 'e0': $("#e0").val(), 'N': $("#n").val(), 'Rb1': $("#Rb1").html(), 'Rs': $("#RS").html(), 'a': $("#a").val(), 'dk1': $("#dk1").val(), 'dk2': $("#dk2").val(), 'sl1': $("#sl1").val(), 'sl2': $("#sl2").val() },
                success: function (response) {
                    var rs = JSON.parse(response);
                    console.log("data: ", rs);
                    if (rs.ErrCode == 1) {

                        $("#NXNEN").html(rs.Data.Comment).hide();
                        $("#LH").html(rs.Data.Lo_ih.toFixed(2));
                        $("#LB").html(rs.Data.Lo_ib.toFixed(2));
                        $("#MH").html(rs.Data.MH.toFixed(1));
                        if(rs.Data.Lo_ih.toFixed(2) > 28) {
                             $("#SSMUYH").html("> 28");
                        } else {
                            $("#SSMUYH").html("< 28");
                        }
                        if(rs.Data.Lo_ib.toFixed(2) > 28) {
                             $("#SSMUYB").html("> 28");
                        } else {
                            $("#SSMUYB").html("< 28");
                        }
                        
                        $("#MB").html(rs.Data.MB.toFixed(1));
                        $("#NXCANH").html(rs.Data.TinhTheoPhuong).hide();
                        $("#M").html(rs.Data.Mx);
                        $("#E1").html(rs.Data.E1.toFixed(3));
                        $("#EA").html(rs.Data.Ea.toFixed(2));
                        if(rs.Data.E1 > rs.Data.Ea) {
                             $("#EE").html(rs.Data.E1.toFixed(2));
                        } else {
                            $("#EE").html(rs.Data.Ea.toFixed(2));
                        }
                        //$("#E0").html(rs.Data.E0.toFixed(3));
                        $("#E").html(rs.Data.E.toFixed(1));
                        $("#EPXILON").html(rs.Data.Epxilon.toFixed(3));
                        $("#SSEPXILON").html(rs.Data.SSEPXILON);
                        $("#X1").html(rs.Data.X1.toFixed(1));
                        $("#SSX1").html(rs.Data.SSX1);
                        $("#XR").html(rs.Data.XR.toFixed(1));
                        $("#AS").html(rs.Data.As.toFixed(1));
                        $("#AS1").html(rs.Data.As.toFixed(1));
                        $("#ABT").html(rs.Data.Anbt.toFixed(1));
                        $("#MUYBT").html(rs.Data.Muy.toFixed(1));
                        $("#NXBT").html(rs.Data.MuyCmt).hide();
                        $("#SSMUYBT").html(rs.Data.SSMuyCmt);
                        $("#SSABT").html(rs.Data.SSABT);
                        $("#MUYH").html(rs.Data.MuyH.toFixed(2));
                        $("#MUYB").html(rs.Data.MuyB.toFixed(2));
                        $("#MHH").html(rs.Data.MHH.toFixed(2));
                        $("#MBB").html(rs.Data.MBB.toFixed(2));

                    } else {
                        if (rs.ErrCode == 2) {
                            alert(rs.Data.Comment);
                        }
                    }
                },
                error: function () {
                    alert("Có lỗi xảy ra trong quá trình tính thép cột. Vui lòng thử lại sau");
                }
            });
        }

        $(document).ready(function () {
            getListVatLieu();
            $( "#btnThietLap" ).click(function() {
                alert( "phần mền chưa cập nhật tính năng này!" );
            });

            $( "#btnThongSo" ).click(function() {
                alert( "phần mền chưa cập nhật tính năng này!" );
            });

            $( "#btnNoiLuc" ).click(function() {
                alert( "phần mền chưa cập nhật tính năng này!" );
            });
            $('#macBeTong').on('change', function () {
                var selectedMBT = $(this).find(":selected").val();
                getDetail(selectedMBT, "BT");
            });

            $('#macThepDoc').on('change', function () {
                var selectedMTD = $(this).find(":selected").val();
                getDetail(selectedMTD, "TD");
            });


            //$("select.macBeTong").change(function () {
            //    var selectedMBT = $(this).children("option:selected").val();
            //    console.log('ur selected: ', selectedMBT);
            //    getDetail(selectedMBT, "BT");
            //});
        });
    </script>
</body>
</html>
