@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Faculty Information Technology</title>
    <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico" />
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="~/Css/styles.css" rel="stylesheet" />
    <style>
        #navbarResponsive ul li ul {
            list-style: none;
        }

        #navbarResponsive li ul {
            display: none;
            min-width: 350px;
            position: absolute;
        }

        #navbarResponsive li > ul li {
            width: 100%;
            border: none;
            text-align: left;
        }

            #navbarResponsive li > ul li:first-child a {
                border-bottom-left-radius: 0px;
                border-top-left-radius: 0px;
            }

            #navbarResponsive li > ul li:last-child {
                border-bottom-left-radius: 5px;
                border-bottom-right-radius: 5px;
            }

                #navbarResponsive li > ul li:last-child a {
                    border-bottom-left-radius: 5px;
                    border-bottom-right-radius: 5px;
                }
        /*khi hover thì hiện menu con*/
        #navbarResponsive li:hover > ul {
            display: block;
        }

        #ulIndex li {
            margin-left: 40px;
        }
    </style>
</head>
<body style="background-color:#3f404a;">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
        <div class="container">
            <!-- <a class="navbar-brand js-scroll-trigger" href="#page-top"><img src="assets/img/navbar-logo.svg" alt="" /></a> -->
            <a class="navbar-brand js-scroll-trigger" href="#page-top"><img src="assets/img/fit_lg.png" alt="" /></a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars ml-1"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav text-uppercase ml-auto">
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="~/Home/">Trang chủ</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/Home/About">Thông tin</a></li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger">Tính toán</a>
                        <ul>
                            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="~/TinhToan/TinhDamCN">Tính dầm chữ nhật</a></li>
                            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="~/TinhToan/TinhDamCT">Tính dầm chữ T</a></li>
                            <li><a class="nav-link js-scroll-trigger" href="~/TinhToan/TinhCotBTCT">Tính cột</a></li>
                        </ul>

                    </li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/Home/Help">Trợ giúp</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <section class="page-section" id="services" style="background-color:#3f404a;">
        <div class="container" style="padding-top: 100px;">
            <div class="row text-left" style="color: white; padding: 1rem !important;">
                <h3 style="text-transform: uppercase; padding-bottom: 40px">*Hướng dẫn sử dụng chương trình</h3>
                <span>
                    <ul>- Thực hiện theo các bước đã đước sắp xếp trong chương trình để tránh gây xung đột dữ liệu</ul>
                    <ul>- Nhập đầy đủ các thông số cần thiết trước khi tính toán </ul>
                    <ul id="ulIndex">
                        - Bao gồm:
                        <li>Thông số vật liệu</li>
                        <li>Thông số hình học của dầm , cột</li>
                        <li>Thông số nội lực: Momen, lực cắt</li>
                        <li>Bố trí thép sơ bộ</li>
                    </ul>
                    <ul>- Tính toán thép</ul>
                    <ul>- Xuất báo cáo</ul>
                    <ul>- Kết thúc</ul>
                </span>
            </div>
        </div>
    </section>
</body>
</html>
